.site-container {
  background-color: #c8e8ed;
  position: relative;
  max-width: 1280px;
  /* min-width: 220px; */
  margin-right: auto;
  margin-left: auto;
  /* height: 800px; */
  text-align: center;
}
/* #e8e8e8 cinza/areia */

/* Nav */

.nav {
  background-color: #27496d;
}
.title {
  color: #c8e8ed;
}
.navbar-info {
  display: flex;
}
.nav-link {
  color: #c8e8ed;
}

/* Neon */

.wrapper {
  position: absolute;
  top: 15%;
  font-size: 1.5rem;
  margin: 10px;
  right: 15%;
}
span:before {
  content: "";
  animation: animate infinite 5s;
}
@keyframes animate {
  0% {
    content: "Welcome";
  }
  20% {
    content: "Bem Vindo";
  }
  60% {
    content: "Bienvenue";
  }
  80% {
    content: "Willkommen";
  }
  100% {
    content: "Bienvenido";
  }
}
.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px rgb(255, 255, 255),
    0 0 10px rgb(48, 76, 238), 0 0 10px rgb(0, 38, 255);
}

/* Projects */

.projects-container {
  position: relative;
  top: 25rem;
}
.proj-minor-container {
  display: flex;
  padding: 5%;
}
.card-styles {
  margin: 3%;
}

/* Contact */

.contact {
  position: relative;
}
